body{
  background-color: black;
  color: black;

}

#btn-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  height: 100vh;
}
.buttons{
  border: black 2px solid;
  border-radius: 50%;
  height: 15vh;
  width: 8vw;
}
/* .ReactModal__Overlay .ReactModal__Overlay--after-open{
  display: flex;
  height: 100vh;
  width: 100vw;

} */
/* .cat-facts{
  height: 100vh;
  width: 100vw;
} */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 80vw;
  background-color: white;
}

/* .modal-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
} */

